#bungkus{
    background-image:linear-gradient(rgb(183, 56, 183),rgb(40, 201, 241),rgb(235, 146, 161)) ;
}

.ttl{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 40px;
}


.hoby{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 100px;
}

.card1{
    width: 200px;
    height: 200px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 2px black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.card2{
    width: 200px;
    height: 200px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 2px black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.card3{
    width: 200px;
    height: 200px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 2px black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.cita-cita{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
}

.qoute{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
}

.skill{
    margin-top: 40px;
}

.bootstrap{
    width: 80%;
    background-color: aqua;
    text-align: center;
    border-radius: 30px;
}

.laravel{
    width: 60%;
    background-color: red;
    text-align: center;
    border-radius: 30px;
}

.css{
    width: 85%;
    background-color: aquamarine;
    text-align: center;
    border-radius: 30px;
}

.ts{
    width: 10%;
    background-color: purple;
    text-align: center;
    border-radius: 30px;
}